################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

.vs/
# IntelliJ IDEA-Projektdateien
.idea/
*.iml

# Build-Ordner und Klassen-Dateien
out/
*.class

META-INF/MANIFEST.MF
