@page "/end"

<PageTitle>Einstellungstest</PageTitle>

<h1>Sie haben es geschafft!</h1>

<!--Endeseite für den Bewerber-->

<p>Sie haben den Einstellungstest nun abgeschlossen und Ihre Antworten wurden gespeichert. Wir wünschen weiterhin viel Erfolg!
    <br/><br/>
    Sie können das Fenster nun schließen.
</p>

