@page "/ergebnis"

@using Recrutify.Models
@using Recrutify.DataAccessLayer.Data
@using Recrutify.DataAccessLayer.Repositories
@inject IBewerber<BewerberModel> bewerberData
@inject BewerberModel bewerberModel
@inject BewerberTestModel bewerberTestModel
@inject NavigationManager navigationManager



<h3>Ergebnis</h3>

@if (bewerberModel != null)
{
    <div>
        <label>Ergebnis: </label>
        <strong>@bewerberModel.Ergebnis Punkte wurden erreicht.</strong> 
    </div>
}
else
{
    <p>Es gibt kein Ergebnis zum Anzeigen.</p>
}

