@page "/"

@using Recrutify.Models
@using Recrutify.DataAccessLayer.Data
@using Recrutify.DataAccessLayer.Repositories
@inject IBewerber<BewerberModel> bewerberData
@inject BewerberModel bewerberModel
@inject BewerberTestModel bewerberTestModel
@inject NavigationManager navigationManager
@inject IBewerberTest<BewerberTestModel> bewerberTestData
@inject TestModel testModel
@inject IUnternehmen<TestModel> unternehmenService

<PageTitle>Startseite</PageTitle>

<div style="height: calc(100vh - 200px); overflow-y: auto;">
    <h1>Herzlich willkommen</h1>

    <p>
        Bitte geben Sie den Einladungscode ein, den Sie vom Unternehmen erhalten haben.
    </p>

    <div class="mb-3" style="margin: 30px 40px 5px 40px;">
        <label for="Einladungscode" class="form-label">Einladungscode</label>
        <input @bind-value="@bewerberTestModel.TID" type="text" class="form-control" id="Einladungscode" placeholder="0" />
    </div>
</div>

<div class="position-absolute bottom-0" style="display: grid; grid-template-columns: 1fr 2fr 1fr; align-items: center; height: 100px; width: 1280px; background-color: white; border-top: 1px solid lightgrey;">
    <div></div>
    <div></div>
    <button type="button" @onclick="start">Weiter</button>
</div>

@code {
    //Einladungscode wird eingegeben und der Bewerber wird weitergeleitet
    //TID und UNternehmensnamen werden im Model gespeichert
    async void start()
    {
        testModel.TID = bewerberTestModel.TID;
        testModel.UID = await unternehmenService.GetUIDFromTID(testModel.TID ?? 0);
        testModel.Name = await unternehmenService.GetName(testModel.UID);
        Console.WriteLine(testModel.UID);
        Console.WriteLine(testModel.Name);
        navigationManager.NavigateTo($"/welcome/{bewerberTestModel.TID}");
    }
}
