<div style="display:flex; justify-content: center;">
    @if (verbleibendeZeit.TotalSeconds <= 60)
    {
        <div style="display: flex; justify-content: center; align-items: center; font-size: 24px; background-color: lightcoral; width: 100px; height: 50px; border-radius: 5px;">@zeitAnzeigen</div>
    }
    else
    {
        <div style="display: flex; justify-content: center; align-items: center; font-size: 24px; background-color: lightgreen; width: 100px; height: 50px; border-radius: 5px;">@zeitAnzeigen</div>
    }
</div>

@code {
    [Parameter] public TimeSpan verbleibendeZeit { get; set; }
    private string zeitAnzeigen;

    protected override void OnParametersSet()
    {
        zeitAnzeigen = verbleibendeZeit.ToString(@"mm\:ss");
    }
}
